# Python
venv/
.venv/
__pycache__/
*.pyc

# Env
.env

# macOS
.DS_Store

# Logs
*.log

# Flutter
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Android
.gradle/
local.properties

# iOS
Pods/
Runner.xcworkspace/

# IDE
.vscode/
.idea/
backend/config/
